{
  "comments": false,
  "env": {
    "test": {
      "presets": [
        ["@babel/env", {
          "targets": { "node": 14 }
        }],
        "@babel/preset-flow"
      ],
      "plugins": ["istanbul"]
    },
    "main": {
      "presets": [
        ["@babel/env", {
          "targets": { "node": 14 }
        }],
        "@babel/preset-flow",
        "@babel/preset-env"
      ]
    },
    "renderer": {
      "presets": [
        ["@babel/env", {
          "modules": false
        }],
        "@babel/preset-flow"
      ]
    },
    "web": {
      "presets": [
        ["@babel/env", {
          "modules": false
        }],
        "@babel/preset-flow"
      ]
    }
  },
  "plugins": [
    "@babel/transform-runtime",
    "@babel/plugin-proposal-function-bind",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-flow",
    "@babel/plugin-transform-flow-strip-types"
  ]
}
